.headerContainer{
    min-height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #161616;
}

h1{
    color: #f5f5f5;
}

input{
    height: 2rem;
    outline: none;
    padding: 0.5rem;
    width: 16rem;
}

.inputGroup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mag{
    position: relative;
    right: 2rem;
}