.headerContainer{
    color: #e0e0e0;
    min-height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #161616;
}

h1{
    color: #e0e0e0;
}

input{
    color: #e0e0e0;
    height: 2rem;
    outline: none;
    padding: 0.5rem;
    width: 16rem;
    background-color: #2a2a2a;
    border: solid 1px #e0e0e0;
    border-radius: 10px;

}

.inputGroup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mag{
    position: relative;
    right: 2rem;
    color: #e0e0e0;
}